<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %p (%file:%line\)- %m%n</pattern>
			<charset>UTF8</charset>
		</encoder>
	</appender>
	<appender name="protallog"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/all.log</File>
		<Append>true</Append>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ALL</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>logs/all-%d{yyyy-MM-dd,aux}/all-%d{yyyy-MM-dd}.%i.zip</FileNamePattern>
			<maxFileSize>32MB</maxFileSize>
		</rollingPolicy>
		<encoder>
			<pattern>%d %p (%file:%line\)- %m%n</pattern>
			<charset>utf-8</charset>
		</encoder>
	</appender>
	<!--这个logger没有指定appender，它会继承root节点中定义的那些appender-->
	<!--additivity表示要不要使用rootLogger配置的appender进行输出-->
	<!-- 日志级别排序为： TRACE < DEBUG < INFO < WARN < ERROR -->
	<!--<logger name="com.summit.dao" level="INFO"/>-->
	<root level="INFO">
		<appender-ref ref="STDOUT"/>
	</root>
	<logger name="com.summit" level="DEBUG">
		<appender-ref ref="protallog"/>
	</logger>
</configuration>
